<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzm5U-B8qCaHLGOY7Ohzd_25xJGEP-iM4</string>
	<key>GCM_SENDER_ID</key>
	<string>469856705592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sortmycollege</string>
	<key>PROJECT_ID</key>
	<string>sort-my-college</string>
	<key>STORAGE_BUCKET</key>
	<string>sort-my-college.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469856705592:ios:4679d14691b0b372c19acd</string>
</dict>
</plist>